meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1')

// SEO
title 南北潮什麼/From North to South - JUKSY 街星
meta(name='keywords', content='流行,潮流,街頭,生活,娛樂,時尚,精品,穿搭,影音,音樂,電影,設計,藝術,3C,超跑,正妹')
meta(name='description', content='古有濁水溪以南，今有天龍國當道，不管時間怎麼跑，「戰南北」絕對是每一時代最能說嘴的話題！食、衣、住、行、育、樂無不成為大家比較的標準。這一次， JUKSY 也決定跳下海陪大家同樂！想知道「南北潮什麼」？就跟著我們一起來戰南北吧！')
// SEO end

// FB
meta(property='fb:app_id', content='608477045879026')
meta(property='og:title', content='南北潮什麼/From North to South')
meta(property='og:description', content='古有濁水溪以南，今有天龍國當道，不管時間怎麼跑，「戰南北」絕對是每一時代最能說嘴的話題！食、衣、住、行、育、樂無不成為大家比較的標準。這一次， JUKSY 也決定跳下海陪大家同樂！想知道「南北潮什麼」？就跟著我們一起來戰南北吧！')
meta(property='og:image', content='img/fb.png')
meta(property='og:url', content='https://www.juksy.com/events/northsouth-2017April')
meta(property='og:site_name', content='JUKSY 街星')
meta(property='og:type', content='website')
// FB end

// Web Clip
link(rel='shortcut icon', href='https://www.juksy.com/img/logo.ico')
link(rel='apple-touch-icon-precomposed', href='https://www.juksy.com/img/logoios.ico')
// Web Clip end

// CSS

// CSS DEV FILE
link(href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css', rel='stylesheet')
link(href='//cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.min.css', rel='stylesheet')
link(href='//cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css', rel='stylesheet')
link(href='//cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css', rel='stylesheet')
link(href='css/index.css', rel='stylesheet')

// CSS MIN FILE
//- link(href='css/app.min.css', rel='stylesheet')

// CSS end

// JS global var
script(type='text/javascript')
	include ../js/head.js
// JS global var end