// list07
section.list_07(data-menu='true')
	.layoutWrap
		h2.title CLASSIC FASHION
		ul.article
			li
				a.img.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/64141', target='_blank', data-module='lazy_image', data-lazyimg='img/article01.jpg')
					.linkWrap
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/64141', target='_blank')
						h3 好貨買不完！特搜南北最受歡迎的選貨店
			li
				a.img.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/64197', target='_blank', data-module='lazy_image', data-lazyimg='img/article02.jpg')
					.linkWrap
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/64197', target='_blank')
						h3 誰說比不上北部！這 4 個牌子都是「南部起家」的台灣品牌
			li
				a.img.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/63824', target='_blank', data-module='lazy_image', data-lazyimg='img/article03.jpg')
					.linkWrap
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/63824', target='_blank')
						h3 還真的不一樣！用 2 大類似單品「南北女孩搭出不同風格」
			li
				a.img.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/64598', target='_blank', data-module='lazy_image', data-lazyimg='img/article04.jpg')
					.linkWrap
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/64598', target='_blank')
						h3 【南北潮什麼】不輸日本妹！盤點南北部 10 所最美「高校女生制服」！
// list07 end