// list08
section.list_08(data-menu='true')
	.layoutWrap
		h2.title JUKSY TOPIC
		ul.article
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/63866', target='_blank', style='background-image:url("https://static.juksy.com/files/cover/63866/58cfb46ab2a97.png?m=resize&i=760x400&e=jpg&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/cover/63866/58cfb46ab2a97.png?m=resize&i=760x400&e=jpg&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/63866', target='_blank')
						h3 一秒看出你是哪裡人！讓南北部人「吵翻天」 4 大國民美食吃法　你最習慣哪一種？
				.date Mar 20.2017 | by Ann
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/63526', target='_blank', style='background-image:url("https://static.juksy.com/files/cover/63526/58db8bff7490e.png?m=resize&i=760x400&e=jpg&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/cover/63526/58db8bff7490e.png?m=resize&i=760x400&e=jpg&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/63526', target='_blank')
						h3 戰南北鄉民梗大盤點！台灣南部人真的「騎山豬上下班」？
				.date Mar 10.2017 | by Liam
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/63693', target='_blank', style='background-image:url("https://static.juksy.com/files/cover/63693/58d2377e599c4.png?m=resize&i=760x400&e=jpg&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/cover/63693/58d2377e599c4.png?m=resize&i=760x400&e=jpg&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/63693', target='_blank')
						h3 北中南早餐大比拚！神解析原來台南人「喝牛肉湯當早餐」都是假的？
				.date Mar 15.2017 | by Liam
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/63813', target='_blank', style='background-image:url("https://static.juksy.com/files/cover/63813/58ce7fc206bb3.png?m=resize&i=760x400&e=jpg&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/cover/63813/58ce7fc206bb3.png?m=resize&i=760x400&e=jpg&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/63813', target='_blank')
						h3 盤點「南部特色飲品 Top 8 」！男友：最後一家跪求帶我去...
				.date Mar 19.2017 | by Hsiunghsi
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/63600', target='_blank', style='background-image:url("https://static.juksy.com/files/cover/63600/58c8f805ef8d6.png?m=resize&i=760x400&e=jpg&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/cover/63600/58c8f805ef8d6.png?m=resize&i=760x400&e=jpg&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/63600', target='_blank')
						h3 不單看電影，還能順便來一趟 IG 熱門景點之旅！全台南、北特色戲院大 PK
				.date Mar 12.2017 | by Sandra
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/63812', target='_blank', style='background-image:url("https://static.juksy.com/files/cover/63812/58cd81dfb3d2f.png?m=resize&i=760x400&e=jpg&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/cover/63812/58cd81dfb3d2f.png?m=resize&i=760x400&e=jpg&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/63812', target='_blank')
						h3 特搜超有 fu 「南部特色文旅 Top 5 」！好拍好睡一次擁有
				.date Mar 19.2017 | by Hsiunghsi
// list08 end