// list09
section.list_09(data-menu='true')
	.layoutWrap
		h2.title JUKSY STAR
		.article
			ul.pic.showOnScroll(data-show-offset='100', data-show-animation='custom_R2Lflow')
				li.now
					a.img(href='https://www.juksy.com/archives/64040', target='_blank', data-module='lazy_image', data-lazyimg='https://static.juksy.com/files/cover/64040/58f03520bedb0.png?m=resize&i=600x600&e=jpg&q=75')
				li
					a.img(href='https://www.juksy.com/archives/64830', target='_blank', data-module='lazy_image', data-lazyimg='https://static.juksy.com/files/cover/64830/58f42dead33c0.png?m=resize&i=600x600&e=jpg&q=75')
				li
					a.img(href='https://www.juksy.com/archives/64022', target='_blank', data-module='lazy_image', data-lazyimg='https://static.juksy.com/files/cover/64022/58d48681b98db.png?m=resize&i=600x600&e=jpg&q=75')
				li
					a.img(href='https://www.juksy.com/archives/64026', target='_blank', data-module='lazy_image', data-lazyimg='https://static.juksy.com/files/cover/64026/58d497f572746.png?m=resize&i=600x600&e=jpg&q=75')
			.txt
				ul.dateWrap
					li.now
						.date 21
						.month APR
							br
							| 2017
						.author by Sandra
					li
						.date 21
						.month APR
							br
							| 2017
						.author by hsiunghsi
					li
						.date 24
						.month MAR
							br
							| 2017
						.author by Eason
					li
						.date 24
						.month MAR
							br
							| 2017
						.author by hsiunghsi
				ul.main
					li.now
						.atitleWrap.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup')
							a.atitle(data-module='dotdotdot', href='https://www.juksy.com/archives/64040', target='_blank')
								h3 「早上高潮、下午就….」 Rock 小隊長盧廣仲　無厘頭解釋早餐之外的Life Style
						.detail.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', data-module='dotdotdot') 相信許多喜愛盧廣仲的鐵粉們都知道，廣仲曾經大學一年級遭遇過一場嚴重車禍，是在住院時期拿到表哥送給他的第一把吉他，就此逆轉他的人生，開啟廣仲第一無二的音樂之路。從模仿俄羅斯男高音 Vitas 的花式唱腔，到《 100 種生活》榮獲金曲最佳新人獎，音樂製作人鍾成虎讚嘆他是「被公車輾過的音樂鬼才」！這次 JUKSY 有幸請到盧廣仲小隊長談談他幽默、平實的音樂生活，快搭配著早餐一起來瞧瞧吧！
						a.button.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', href='https://www.juksy.com/archives/64040', target='_blank') Read More >>
					li
						.atitleWrap.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup')
							a.atitle(data-module='dotdotdot', href='https://www.juksy.com/archives/64830', target='_blank')
								h3 誰說只能踏藍白拖？盧廣仲「寶島南部潮穿 Top 3」 網友：打破迷思啊...
						.detail.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', data-module='dotdotdot') 如果來場小旅行，相信你第一個會選擇的景點就是南部，南部的熱情，以及緩慢的步調，讓你可以放下台北急速感，好好的放鬆一番，當然來到南部，就別再穿讓你難以透氣的西裝長褲，趕快穿出最蝦趴的短褲吧！小隊長盧廣仲用 3 套「南式趨勢」傳達出最具代表的南部風情！
						a.button.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', href='https://www.juksy.com/archives/64830', target='_blank') Read More >>
					li
						.atitleWrap.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup')
							a.atitle(data-module='dotdotdot', href='https://www.juksy.com/archives/64022', target='_blank')
								h3 《目擊者》拍攝現場超詭異　柯佳嬿爆料「他」的變態行徑 ：根本神經病！
						.detail.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', data-module='dotdotdot') 你認識《在小資女孩向前衝》裡的沈杏仁、 《雞排英雄》裡的林亦男，還是《五星級魚乾女》裡的芳如？無論是哪一部令人印象深刻的戲劇電影，都讓我們認識了一個勇敢無懼、坦率直白、真誠努力的柯佳嬿。 
						a.button.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', href='https://www.juksy.com/archives/64022', target='_blank') Read More >>
					li
						.atitleWrap.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup')
							a.atitle(data-module='dotdotdot', href='https://www.juksy.com/archives/64026', target='_blank')
								h3 甜美女 Out ！柯佳嬿神詮釋「冷都厭世女」 網友：帥的我心慌慌...
						.detail.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', data-module='dotdotdot') 你對台北的印象是什麼？一個講求快速的城市中，每到一個尖峰時段總是人滿為患，生活步調快，你是不是也正在跟隨著？而身為典型的台北女子柯佳嬿，最能傳達出台北的匆忙步調，收起以往的甜美氣質形象，利用 3 套穿搭完美詮釋「冷都厭世女」 ，保證帥的讓你心慌慌！
						a.button.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', href='https://www.juksy.com/archives/64026', target='_blank') Read More >>
			.navWrap
				.nav
					.btn.left.end <
					.number
						span.now 1
						| /
						span.total 4
					.btn.right >
// list09 end